# Virtual Environment
supertrend_env/

# Credentials
database_pettem.ini
database_amit.ini
database_hemant.ini
database_rupinder.ini
database.ini
logs/
test.ini
db.in
# RabbitMQ admin
rabbitmqadmin


.vscode/

# Test scripts and files
src/trades/zerodha.py
src/ticker/banknifty_conn_test.py

src/tests

src/publish_database/__pycache__

src/publish_database/db.sqlite3

src/access_config/__pycache__
test.csv
temp_cache/

database.env
test_files/

# Trade strategy script
src/trades/strategy.py

*.csv